<ion-header>

  <ion-navbar>
    <ion-title>
      <span class="w monts">Изучение</span>
    </ion-title>
  </ion-navbar>

</ion-header>
<hr>


<ion-content padding id="mainScreen" text-center>
  <div class="uk-animation-fade">
    <h2 class="w" *ngIf="started == false">Вы готовы начать?</h2>
    <button  *ngIf="started == false" class="monts" ion-button color="secondary" round outline style="border-width: 2px;" (click)="start();">Изучить новые слова!</button>
  </div>

  <ion-card class="c" text-center *ngIf="randomWord != null">
    <ion-card-header>
      <span class="w b fz-40">{{ randomWord.enWord }}</span>
    </ion-card-header>

    <ion-card-content>
      <span class="w b fz-25">{{ randomWord.ruWord }}</span>
      <br><br>
      <button color="light" ion-button outline (click)="listen();">
        <ion-icon name="musical-notes"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>

  <hr>

  <button *ngIf="started == true" class="monts" block ion-button color="danger" round outline style="border-width: 2px; margin-top: 40px;" (click)="toBeRepeated();"><ion-icon name="timer"></ion-icon> На повторение</button>
  <button *ngIf="started == true" class="monts" block ion-button color="secondary" round outline style="border-width: 2px; margin-top: 40px;" (click)="wordIsLearned();"><ion-icon name="checkmark-circle-outline"></ion-icon> Я выучил это</button>
  <button *ngIf="started == true" class="monts" block ion-button color="light" round outline style="border-width: 2px; margin-top: 40px;" (click)="wordIsKnown();"><ion-icon name="book"></ion-icon> Я знаю это</button>

</ion-content>
