  #mainScreen {
    background: #18191c;
  }
  .toolbar-background {
    background-color: #18191c;
  }
  .w {
    color: white;
  }
  .bl{
    color: #333;
  }
  .b {
    font-weight: bold;
  }
  .mono {
    font-family: 'Monoton';
  }
  .mont {
    font-family: 'Montserrat';
  }
  .c {
    background-color: #292b2f;
    border-radius: 15px;
  }
  .fz-25 {
    font-size: 25px;
  }
  .fz-40 {
    font-size: 40px;
  }
  button:focus {
    outline: none;
  }
  .it{
      font-style: italic;
  }
  .divider{
    background: #777;
  }
  .eina{
    font-family: Eina
  }
  .up{
    text-transform: uppercase;
  }
  .monts{
    font-family: 'Montserrat';
  }